@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$base-color1: #2F61A8;
$base-color2: #990099;
$base-color3: #ffd0ff;
$base-color4: #a3c9fd;
$image-width: 4vw;

.category {
  display: grid;
  grid-template-columns: $image-width auto;

  img {
    width: $image-width;
    height: $image-width;
    border-radius: 5px;
  }
  p {
    display: block;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: $base-color1;
    font-size: 1.3vw
  }
}

.container {
  background: linear-gradient($base-color4, $base-color3);
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}