@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$base-color1: #2F61A8;
$base-color2: #990099;
$base-color3: #ffd0ff;
$base-color4: #a3c9fd;
$image-width: 4vw;

.logo {
  width: 100%;
}

.head {
  display: grid;
  grid-template-columns: 20% 70% 10%;

  .search {
    display: flex;
    border: .1em solid $base-color1;
    width: 80%;
    height: 50%;
    padding: 1%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 1em;

    input {
      display: block;
      width: 80%;
      height: 100%;
      outline: none;
      border: none;
      font-size: large;
      font-style: italic;
}

    img {
      margin-top: auto;
      margin-bottom: auto;
      width: 2vw;
      float: right;
      margin-left: auto;
      margin-right: 5%;
    }
  }

  .cart {
    display: flex;
    width: 50%;
    small {
      color: white;
      margin-left: auto;
      float: right;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 150%;
      background: $base-color2;
      border-radius: 1000%;
      padding: 10%;
    }

    img {
      width: 5vw;
      margin: auto;
    }

  }


}
