@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$base-color1: #2F61A8;
$base-color2: #990099;
$base-color3: #ffd0ff;
$price-color: #ffffff;
$name-color: #ffffff;
$image-width: 150px;

.product {
  display: block;
  width: $image-width;
  height: $image-width;
  margin-bottom: 10%;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  font-size: 70%;
  img {
    display: block;
    
    aspect-ratio: 1 / 1;
    border-radius: 2em;
    width: $image-width;
    height: $image-width;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid $base-color1;
}



.price {
  color: $price-color;
  margin-left: auto;
  margin-right: 10%;
  font-weight: bold;
}

.name {
  color: $name-color;
  margin-left: 10%;
}
.details {
  display: block;
  font-family: 'Poppins';
  background: rgba(153, 0, 153, .7);
  height: fit-content;
  border-radius: .5em;
  margin-top: 5%;
  margin-bottom: 5%;

  p {
    display: block;
    height: fit-content;
    margin: 0;
    margin-left: 10%;
    font-size: 1.1em;
    width: fit-content;
  }

}
.checkbox {
  margin-bottom: 5%;
}
}

.cartButton {
  display: block;
  background: $base-color1;
  width: fit-content;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5em;
  color: white;
  :hover

  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}