@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$base-color1: #2F61A8;
$base-color2: #990099;
$base-color3: #ffd0ff;


.productsArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 5%;
  row-gap: 30%;
  align-items: center;
  width: 100%;
  height: 100%;
}

.top {
  display: flex;

  button {
    float: right;
    margin-left: auto;
    margin-right: 10%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
  }
}