@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$base-color1: #2F61A8;
$base-color2: #990099;
$base-color3: #9900994f;
$base-color4: #a3c9fd;
.mainBody {
  padding: 2vw;
  font-family: 'Poppins';
  //background: linear-gradient($base-color3, $base-color4, $base-color1);
  h2 {
    color: $base-color1;
  }
}





.hero {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: 'cat rec log'
                        'cat pro log';

  h2 {
    font-size: 2vw;
  }
}

.login {
  display: block;
  grid-area: log;

  form {
    display: block;
  }

  input {
    height: 3em;
    outline: none;
    outline: .2em solid #2f61a86c;
    border: none;
    box-shadow: 5px 5px 5px #9900999c;
    border-radius: 1em;
  }

  label {
    color: #2F61A8;
    font-weight: bold;
    margin-bottom: 7em;
  }

  button {
    width: 100%;
    height: 2em;
    background: $base-color3;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 1em;
    outline: .1em solid $base-color1;
    margin-top: 1em;
    color: $base-color1;
  }
}

.inputFields {
  display: block;

  input {
    width: 100%;
  }
}

.products {
  grid-area: pro;
}

.slider {
  margin-left: auto;
  margin-right: auto;
}
